body{
    font-family: 'Crimson Text', serif;
    font-size: 18px;
}

.container1 {
    background-color: rgba(214, 214, 214, 0.5);
    width: 100%;
    height: 200px;
    box-sizing: border-box; /*ajusta largura de forma automatica*/
    position: relative;
    padding: 30px;
    /*border: 3px solid red; */
}

.container2 {
    background-color: rgba(252, 252, 252, 0.925);
    width: 100%;
    box-sizing: border-box; /*ajusta largura de forma automatica*/
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 30px
}

#titulo{
    color: rgb(49, 49, 49);
    font-family: 'Gayathri', sans-serif;
    font-size: 40px;
    position: relative;
    left: 200px;
}

#subtitulo{
    color: rgb(49, 49, 49);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    position: relative;
    left: 200px;
    bottom: 30px;
}

.imagem{
    width: 180px;
    height: 180px;
    position: absolute;
    right: 200px;
    bottom: 10px;
    top: 10px;
}

.topicos {
    font-size: 30px;
    color: rgba(21, 93, 201, 0.87);
    padding-top: 30px;
}

.span{
    font-size: 30px;
    color: rgba(21, 93, 201, 0.87);
    position:relative;
    bottom:50px;
}

.dados {
    text-align: left;
    font-size: 18px;
    color: rgb(49, 49, 49);
}

.dados a{
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.dados a:hover{
    color: rgb(179, 179, 179);
}

.curso {
    text-align: center;
    font-size: 18px;
    color: rgb(21, 93, 201);
    list-style: none;
    padding: 0px;
}

.instituicao {
    font-size: 18px;
    color: rgb(49, 49, 49);
    list-style: none;
    text-align: center;
    padding-bottom: 30px;
}

.container3 {
    background-color: rgba(214, 214, 214, 0.5);
    width: 100%;
    box-sizing: border-box; /*ajusta largura de forma automatica*/
    position: relative;
    bottom: 0px;
    padding: 30px;
}

.redessociais{
    width: 30px;
    height: 30px;
    position: relative;
    left: 540px;
    padding-left: 20px;
} 
